@font-face {
  font-family: RoundFont;
  src: url(Roundfont.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #171717;
}

article {
  height: 19em;
  width: 30em;
  margin: auto; 
  margin-top: calc((100vh - 19em) /2 );
  background-image: url('blur.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  width: 43px;
  height: 43px;
  position: relative;
  top: 100px;
  left: 39px;
}

h1 {
  color: rgb(26, 26, 26);
  font-family: RoundFont;
  font-size: 30pt;
  position: relative;
  top: 80px;
  left: 46px;
}

h5 {
  /* margin: 0rem 0 0rem; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #effff9;
  font-family: open Arial, Helvetica, sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  position: relative;
  top: 63px;
  left: 88px;
}

p { 
  margin: 0;
}

/* button{
  position: absolute;
  right: -7rem;
  bottom: -2rem;
} */